---
import enlil3Logo from '~/assets/images/explore-enlil3.png'
import noiseGPTLogo from '~/assets/images/explore-noisegpt.png'
import botifAILogo from '~/assets/images/explore-botifai.png'
import myAnalistLogo from '~/assets/images/explore-myanalyst.png'
import aiDULTLogo from '~/assets/images/explore-aidult.png'

import enlil3Hero from '~/assets/images/explore-enlil3-hero.svg'
import noiseGPTHero from '~/assets/images/explore-noisegpt-hero.svg'
import botifAIHero from '~/assets/images/explore-botifai-hero.svg'
import myAnalystHero from '~/assets/images/explore-myanalyst-hero.svg'
import aiDULTHero from '~/assets/images/explore-aidult-hero.svg'

import Image from '~/components/common/Image.astro'
import ProductDrawer from './ProductDrawer.tsx'

type Card = {
  title: string
  description: string
  image: ImageMetadata
  href: string
}

type Modal = {
  hero: ImageMetadata
  color: 'light' | 'dark' | 'gray'
  title: string
  subtitle: string
  features: string[]
}

const products: Array<{
  card: Card
  modal: Modal
}> = [
  {
    card: {
      title: 'enlil3',
      description:
        'Our proprietary Arbitrum Rollup chain. Dedicated to powering the enqAI ecosystem. \n\nDedicated chain that settles to Arbitrum One using the enqAI (formerly noiseGPT) token for gas and governance.',
      image: enlil3Logo,
      href: '#',
    },
    modal: {
      hero: enlil3Hero,
      color: 'dark',
      title: 'Our proprietary Arbitrum Rollup.',
      subtitle: `Why you should \nbe using enlil3.`,
      features: [
        'Lightning-fast transaction settlement',
        "Enhanced security with Arbitrum's Layer-2 Technology",
        'Reduced gas fees and increased scalability',
        "Seamless integration with Ethereum's ecosystem",
      ],
    },
  },
  {
    card: {
      title: 'noiseGPT',
      description: 'Our awesome voice cloning, lifelike text-to-speech and lipsync engine.',
      image: noiseGPTLogo,
      href: 'https://noisegpt.com',
    },
    modal: {
      hero: noiseGPTHero,
      color: 'light',
      title: 'Uncensored. Lifelike. Unlocked. Noise.',
      subtitle: 'Unlock the Potential of Uncensored \nLifelike TTS and Lipsync Software.',
      features: [
        'Create realistic and expressive voices for your projects',
        'Achieve lifelike lipsync for animations and virtual characters',
        'Empower content creators with innovative audio solutions',
        'Customize speech patterns, accents, and emotions',
        'Seamless integration into various applications',
      ],
    },
  },
  {
    card: {
      title: 'botifAI.app',
      description:
        "An extensive suite of customer-facing applications connected to a variety of LLM's, including enqAI LLM.",
      image: botifAILogo,
      href: 'https://www.botifai.app',
    },
    modal: {
      hero: botifAIHero,
      color: 'gray',
      title: 'Harness the power of LLM technology.',
      subtitle: 'Streamline your business with botifAI.',
      features: [
        'Seamlessly connect to multiple LLMs for enhanced functionality',
        'Create intelligent chatbots, virtual assistants, and more',
        'Enhance automation, customer support, and user experiences',
        'Unlock new levels of AI-driven innovation',
        'Customize and adapt LLMs for specific use cases',
      ],
    },
  },
  {
    card: {
      title: 'myAnalyst',
      description:
        'An extensive suite of business oriented analytical tools. Train our models on your proprietary company data in a safe and shielded environment.',
      image: myAnalistLogo,
      href: '#',
    },
    modal: {
      hero: myAnalystHero,
      color: 'dark',
      title: 'Maintain your competitive edge.',
      subtitle: 'Empower, Secure, Innovate. \nYour Data, Our Training.',
      features: [
        "Train Large Language Models on your company's proprietary data",
        'Ensure data privacy and security throughout the training process',
        'Enhance efficiency, innovation, and competitiveness',
        "Unlock the full potential of your organization's data",
      ],
    },
  },
  {
    card: {
      title: 'aiDULT',
      description: 'Automatically generate personalized video and audio content for your adult business.',
      image: aiDULTLogo,
      href: '#',
    },
    modal: {
      hero: aiDULTHero,
      color: 'gray',
      title: 'Tailored Adult Content, Automated.',
      subtitle: "Because we \ncan't get enough.",
      features: [
        'Automated video content creation and distribution',
        'Personalization algorithms for fan engagement',
        'Create unique, tailored content at scale',
        'Continuous training on 1 on 1 chat history',
        'Stay ahead in the competitive world of online videos',
      ],
    },
  },
]
---

<section class="relative max-w-7xl mx-auto px-4 sm:px-6 mb-8">
  <div class="text-center max-w-5xl mx-auto mt-24 mb-20">
    <h1 class="text-3xl md:text-[40px] font-medium md:leading-10 tracking-tight mb-7">
      Explore the <br />enqAI ecosystem
    </h1>
    <div class="md:max-w-xl mx-auto">
      <p class="text-base leading-5 tracking-tighter font-mono">
        The enqAI ecosystem ranges from a blockchain settlement layer, a network of GPU rigs running models to a
        dedicated application layer. Take a look at some of our ecosystem partners.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
    {
      products.map(({ card, modal }) => (
        <div class="flex flex-col w-full bg-gradient-to-b from-white from-50% to-[#F5F5F5] border border-primary rounded-lg shadow-xl md:h-[320px]">
          <div class="flex flex-row justify-between items-center p-5 border-b border-primary">
            <Image src={card.image} alt={card.title} width={40} />
            <ProductDrawer
              client:visible
              hero={modal.hero.src}
              color={modal.color}
              title={modal.title}
              subtitle={modal.subtitle}
              features={modal.features}
            />
          </div>
          <div class="p-5">
            <h1 class="text-2xl font-medium pb-4">{card.title}</h1>
            <span class="whitespace-wrap inline-block text-xs font-normal leading-normal">{card.description}</span>
          </div>
          <a
            href={card.href}
            target="_blank"
            rel="noopener noreferrer"
            class="btn-primary text-xs mt-auto ml-5 mb-5 w-fit px-2 py-1"
          >
            Open App
          </a>
        </div>
      ))
    }
    <div
      class="flex flex-col justify-center items-center text-center bg-primary border border-primary rounded-lg shadow-xl py-5 md:py-0"
    >
      An ever growing ecosystem. <br />More to share soon.
    </div>
  </div>
</section>
